/* Page-specific styling */

#details {
    margin-left: 15px;
}

    #details th {
        text-align: left;
        padding-right: 10px;
    }

#from {
    cursor: pointer;
    color: #336699;
}

    #from:focus, #from:hover, #from:active {
        color: #4ea2df;
    }
	
	
/* Common app styling */

#content-main {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    bottom: 50px; /* Same value as #content-footer's height */
    overflow: auto; /* Enable scrollbars within main content section */
}

#content-footer {
    background-color: #cecece;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px; /* Fixed footer height */
    overflow: hidden; /* Disable scrollbars for footer */
}

.padding {
    padding: 15px;
}

.flag {
	position: absolute;
	top: 200px;
	right: 25px;
	max-width: 15%;
}

input[type=checkbox] {  
display: none;  
}   
.checkbox label:before {  
border-radius: 1px;  
border: 1px solid black
}  
input[type=checkbox]:checked + label:before {  
content: "X";  
text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
font-size: 22px;  
color: #000000;  
text-align: center;  
line-height:19px;
border: 1px solid black
}  
label {  
display: inline-block;  
cursor: pointer;  
position: relative;  
padding-left: 25px;  
margin-right: 15px;  
font-size: 16px;  
font-weight: bold;
}  
label:before {  
content: "";  
display: inline-block;  


width: 15px;  
height: 15px;  

margin-right: 10px;  
position: absolute;  
left: 0;  
bottombottom: 1px;  
background-color: #eee;  
box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);  
}     



#notification-message {
    background-color: #818285;
    color: #fff;
    position: absolute;
    width: 100%;
    min-height: 80px;
    right: 0;
    z-index: 100;
    bottom: 0;
    display: none; /* Hidden until invoked */
}

#notification-message-header {
    font-size: medium;
    color: #fff;
    margin-bottom: 10px;
}

#notification-message-body {
    color: #fff;
}

#notification-message-close {
    background-image: url("https://fsp.stratec.com/Transfer/permanent/PhishingAddin/assets/Close.png");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

.hidden {
   display: none;
}

.invisible {
   visibility: hidden;
}